@import "../../media/global.css";



nav a {
    color: inherit;
    margin: 5px;
    font-weight: bold;
}



label{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0.4em;
    text-align:center;
}

input {
    background-color: #883E0A;
    border: none;
    cursor: pointer;

    padding: 16px;
    border-radius: 2em;
    text-align: center;

    font-size: 2em;
    width: 512px;
    height: 24px;
}

#datum{
    margin-bottom: 0.5em;
}

button[type=submit] {
    background-color: #883E0A;
    color: white;
    border: none;
    cursor: pointer;

    width: 6em;
    height: 64px;

    font-weight: bold;
    font-size: 2.5em;

}

input[type=submit]:hover {
    transform: scale(0.95);
}

a {
    color: #FFD700;
    font-weight: bold;
}

a:hover {
    color: #FFA500;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
form div {
    display: flex;
    flex-direction: column;
}
#datum-wrapper {
    display: none;
}
#portugal-check:checked ~ #datum-wrapper {
    display: flex;
}

#error {
    color: red;
}

.register-form-header {
    display: block;
    position: relative;
    padding: 8px 8px 16px;
    text-align: center;

    .title-header {
        font-weight: bold;
        font-size: 3em;
    }
    .sub-title-header {
        display: block;
        font-size: 1.5em;
    }
}

.login-redirect{
    text-decoration-line: none;
}
