#easter-egg-trigger-zone {
    position: absolute;
    bottom: 70px;
    left: 20px;
    width: 70px;
    height: 120px;
    z-index: 998;
}

.easter-egg-image {
    display: none;
    position: absolute;
    bottom: 70px;
    left: 20px;
    width: 70px;
    height: auto;
    cursor: pointer;
    z-index: 999;
    border: none;
    transition: transform 0.1s ease-in-out;
}

.easter-egg-image:hover {
    transform: scale(1.1);
}
