@import "../../media/global.css";

header {
    display: flex;
    justify-content: flex-end;
}
*{
    font-weight: bold;
}

#name {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4em;
    font-weight: bold;

    span {
        display: none;
        font-size: 0.25em;
    }
}

input {

    padding: 16px;
    border-radius: 16px;
    text-align: center;

    color: white;
    border: none;
    cursor: pointer;

    font-size: 2em;
    width: 512px;
    height: 24px;
}

#login-button {
    width: 6em;
    height: 64px;

    font-weight: bold;
    font-size: 3em;
}

#login-button:disabled {
    display: none;
}

button {
    cursor: pointer;

    span {
        position: absolute;
        bottom: 0.15em;
        left: 50%;
        transform: translateX(-50%);
    }
}

button:hover {
    transform: scale(0.95);
}

.login-form-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    align-content: center;
}

.login-form-entries {
    margin-bottom: 4em;
}

.entry-error {
    color: red;
    display: block;
}

.login-form-header {
    display: block;
    position: relative;
    padding: 8px 8px 16px;
    margin-bottom: 2em;

    .title-header {
        font-weight: bold;
        font-size: 3em;
    }
    .sub-title-header {
        display: block;
        font-size: 1.5em;
    }
}

.login-form-entry {
    margin-bottom: 2em;

    .entry-name, .entry-error {
        font-size: 2em;
    }

    .entry-error {
        font-weight: bold;
        margin-bottom: 0.2em;
    }
}

#login-message {
    display: block;
    font-size: 1.5em;
}

.register-redirect{
    text-decoration-line: none;
}

* {
    color: white;
    font-family: Century Gothic, sans-serif;
    text-shadow: 16px 4px 8px rgba(0,0,0,0.5);
}
